* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #d3cece;
    font-weight: bold;
}

.nav-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a60000;
    color: white;
    text-decoration: none;
    border-radius: 25px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.nav-btn:hover {
    background-color: #ff5b5b;
}

.active {
    background-color:#ff5b5b;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
}


header {
    top: 0;
    background-color: #e20000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.image-container {
    position: relative; 
    text-align: center;
    top: -10px;
}

.image-container img {
    width: 100%;  
    height: auto;
     
}

.text-overlay {
    position: absolute; 
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
    color: #a60000;       
    font-size: 5rem;    
    font-weight: bold;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     
}


footer {
    background-color: #e20000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: left;
    left: 0;
    width: 100%; 
    position: relative;
    bottom: 0px;
    margin-bottom: -10px;

}

.social-icon {
    margin: 10px;
    padding: 10px;
    width: 50px;
    background-color: #e20000;
    
}

.social-icon:hover {
    transform: scale(1.2);
}

.map-container {
    margin: 20px; 
    text-align: right;
    margin-right: 50px;
    margin-top: -50px;
}

.footer-text {
    margin: 10px;
    color: #d3cece;

}



body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
}

main {
    flex: 1; 
    padding-top: 80px; 
    top: -10px;
}


.timeline {
    padding-top: 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:#a60000 ;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #ff5b5b;
    border: 4px solid #FFF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container.right::after {
    left: -16px;
}

.content {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.container.left .content {
    margin-left: 0;
}

.container.right .content {
    margin-left: auto;
    margin-right: 0;
}





