* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

body {
  background-color: rgb(239, 230, 230);
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #d3cece;
  font-weight: bold;
}

.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a60000;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #ff5b5b;
}

.active {
  background-color: #ff5b5b;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

header {
  top: 0;
  background-color: #e20000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.image-container {
  position: relative;
  text-align: center;
  top: -10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a60000;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #a60000;
}

.img_gauche {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt_droite {
  flex: 1;
    background-image:linear-gradient(260deg,#a60000,#ff5b5a);
    background-position: center center;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.img_droite {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 20px;
}

.txt_gauche {
  flex: 1;
    background-image:linear-gradient(120deg,#a60000,#ff5b5a);
    background-position: center center;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

h2 {
  color: #a60000;
  text-align: center;
  margin-top: 100px;
}



footer {
  background-color: #e20000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: left;
  left: 0;
  width: 100%;
  position: relative;
  bottom: 0px;
  margin-bottom: -10px;
}

.social-icon {
  margin: 10px;
  padding: 10px;
  width: 50px;
  background-color: #e20000;
}

.social-icon:hover {
  transform: scale(1.2);
}

.map-container {
  margin: 20px;
  text-align: right;
  margin-right: 50px;
  margin-top: -50px;
}

.footer-text {
  margin: 10px;
  color: #d3cece;
}

a {
  color: #a60000;
}

.intro {
  text-align: center;
}

p {
  text-align: justify;
}

h3 {
  margin-left: 60px;
}
